<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="head :: common-head"></th:block>
<body>


<div th:fragment="common-header" th:align="center"><br>
    <h2>Weekly Quickly</h2>
    <br>

</div>


<div th:fragment="header-customer-sites" th:align="center">
    <div th:insert="~{fragments/header :: header}">MICHAL FROST &copy; 2024</div>
    <span>Kudos for you Customer.</span>
</div>


<div th:fragment="header-employee-sites" th:align="center">
    <div th:insert="~{fragments/header :: header}">MICHAL FROST &copy; 2024</div>
    <span>Kudos for you Employee.</span>
</div>


<div th:fragment="header-admin-sites" th:align="center">
    <div th:insert="~{fragments/header :: header}">MICHAL FROST &copy; 2024</div>
    <span>Kudos for you Admin. </span><span th:text="${@environment.getProperty('app.version')}"></span>
</div>


</body>
</html>

