<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="head :: common-head"></th:block>
<body>


<div th:fragment="common-header" th:align="center"><br>
    <h2>Weekly Quickly</h2>
    <br>
</div>



<div th:fragment="header-customer-sites" th:align="center">
    <h2>Weekly Quickly</h2>
</div>


<div th:fragment="header-employee-sites" th:align="center">
    <h2>Weekly Quickly</h2>
</div>


<div th:fragment="header-admin-sites" th:align="center">
    <h2>Weekly Quickly</h2>
</div>


</body>
</html>

