<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="head :: common-head"></th:block>
<body>


<div th:fragment="common-navbar" th:align="center">
    <a th:href="@{/}">home</a>
    <span> | </span>
    <a th:href="@{/customer-form}">customer-form</a>
    <span> | </span>
    <a th:href="@{/customer-list}">customer-list</a>
    <span> | </span>
    <a th:href="@{/employee-form}">employee-form</a>
    <span> | </span>
    <a th:href="@{/employee-list}">employee-list</a>
    <span> | </span>
    <a th:href="@{/admin-form}">admin-form</a>
    <span> | </span>
    <a th:href="@{/admin-list}">admin-list</a>
    <span> | </span>
    <a th:href="@{/user-form}">user-form</a>
    <span> | </span>
    <a th:href="@{/user-list}">user-list</a>
    <br>
    <a th:href="@{/product-form}">product-form</a>
    <span> | </span>
    <a th:href="@{/product-list}">product-list</a>
    <span> | </span>
    <a th:href="@{/item-form}">item-form</a>
    <span> | </span>
    <a th:href="@{/item-list}">item-list</a>
    <span> | </span>
    <a th:href="@{/cart-list}">cart-list</a>
<!--    <span> | </span>-->
<!--    <a th:href="@{/cartPosition-form}">cartPosition-form</a>-->
    <span> | </span>
    <a th:href="@{/cartposition-list}">cartposition-list</a>
    <br> <br>
</div>


<div th:fragment="navbar-customer-sites" th:align="center">
    <a th:href="@{/}">home</a> <br> <br>
</div>


<div th:fragment="navbar-employee-sites" th:align="center">
    <a th:href="@{/}">home</a> <br> <br>
</div>


<div th:fragment="navbar-admin-sites" th:align="center">
    <a th:href="@{/}">home</a> <br> <br>
</div>


</body>
</html>

